<div class="container-fluid">
	<h1>About <%= @listing.list_name %></h1>
	<table>
		<tr>
			<td>
					<p>Description: <%= @listing.description %></p>
					<p>Number of bedrooms: <%= @listing.bedrooms %></p>
					<p>Number of bathrooms: <%= @listing.bathrooms %></p>
					<p>Property type: <%= @listing.property_type %></p>
					<p>Room type: <%= @listing.room_type %></p>
					<p>Accomodates: <%= @listing.accomodates %></p>
					<p>Location: <%= @listing.country_name %></p>
					<p>Price: <%= @listing.price %></p>
				</td>
			</tr>
	</div>